*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

table,
      th,
      td {
        border: 5px solid black;
        font-size: 4rem;
        border-collapse: collapse;
      }
      .project {
        background-color: #0a6cf1;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
      }

      .color {
        color: aliceblue;
        display: flex;
        flex-direction: row;
      }


.key {
    font-size: 5rem;
}      

.tr{
    width: 2rem;
}